.searchBox{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#232631;
    height: 40px;
    border-radius: 40px;
    padding-left: 0px;
 }
 
 
 .searchBtn {
   cursor: pointer;
   /* border: none; */
   color:rgb(255, 255, 255);
   float: right;
   width: 40px;
   height: 40px;
   border-radius: 50%;  
   background: #232631;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .searchTxt{
   border: none;
   background: none;  
   outline: none;
   float: left;
   padding: 0;
   color: rgb(255, 255, 255);
   font-size: 14px;
   transition: 0.4s; 
   line-height: 40px;
   width: 240px;
   padding-left: 10px; 
 }
 
 /* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
  /* Agrega estilos aquí */
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 767px) and (min-width: 576px) {
  /* Agrega estilos aquí */
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 575px) {
  /* Agrega estilos aquí */
  .searchBox{
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#232631;
    height: 40px;
    border-radius: 40px;
    padding-left: 0px;
 }
 
 .searchBtn {
  cursor: pointer;
  margin-top: -15%;
  /* border: none; */
  color:rgb(255, 255, 255);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;  
  background: #232631;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
 